<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/new_member.css">
	<title>新規画面登録</title>
</head>

<body>

	<div class="header">
		<a>JaveTeamDevelopment</a>
	</div>

	<div id="form">

		<!--　タイトルの作成　-->
		<p class="form-title">新規会員登録</p>
		<form name="post">
			<!--　エラー時に表示するテキスト欄　-->
			<p id="output" class="output"></p>

			<!--　テキストボックスのタイトルを作成　-->
			<div class="text">
				<span class="required">UserID</span>
				<input type="userId" id="userId" />
			</div>

			<!--　テキストボックスのタイトルを作成　-->
			<div class="text">
				<span class="required">MailAddress</span>
				<input type="mailAddress" id="mail" />
			</div>

			<!--　テキストボックスのタイトルを作成　-->
			<div class="text">
				<span class="required">PassWord</span>
				<input type="password" id="pass" />
			</div>

			<!--　ログインボタンの作成　-->
			<div class="button" id="btn">
				<a href="#">登録</a>
			</div>
			<div class="new_member_str">
				<a href="login.html">ログイン画面へ</a>
		</form>
	</div>

</body>

</html>