<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/top.css">
	<title>TOP</title>
</head>

<body>
	<!--ヘッダーの作成-->
	<div class="header">
		<a>JaveTeamDevelopment</a>
	</div>

	<!--コンテンツの作成-->
	<div class="top_container">

		<div class="system">
			<div class="top-main">
				<p class="top-sub-title">自己紹介登録</p>
				<div class="button" id="btn">
					<a href="#">登録に進む</a>
				</div>
			</div>
			<p class="top-comment">新しく自己紹介を作ります。</br>
				あなたをより知ってもらうために、</br>
				趣味や一言を工夫しましょう。</br>
				最高の自己紹介を完成させて、よりあなたを</br>
				知ってもらえるチャンスにしましょう</p>

		</div>


		<div class="system">
			<div class="top-main">
				<p class="top-sub-title">自己紹介登録者一覧</p>
				<div class="button" id="btn">
					<a href="#">一覧を編集する</a>
				</div>
			</div>
			<p class="top-comment">登録している人を確認します。</br>
				登録している人の自己紹介記事をみてみましょう。</p>

		</div>


	</div>

</body>

</html>